html {
  font-size: 62.5%;
}

html .ja {
  font-family: 'Noto Sans JP', sans-serif;
}

html .en {
  font-family: 'Noto Serif', serif;
}

html body header {
  position: relative;
}

html body header .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 96px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  position: fixed;
  z-index: 10;
}

html body header .top #humberger {
  display: none;
}

html body header .top.color {
  background: #282F35;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html body header .top .title {
  font-weight: 2.6rem;
  margin: 30px 0 0 120px;
  font-size: 2.6rem;
}

html body header .top nav {
  margin: 30px 120px 0 auto;
}

html body header .top nav ul {
  padding: 0;
  margin: 0;
}

html body header .top nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 1.6rem;
  margin-left: 30px;
}

html body header .slider {
  overflow: hidden;
}

html body header .slider .slider-wrap {
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: 20s slider  infinite;
          animation: 20s slider  infinite;
}

@-webkit-keyframes slider {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  25% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  33% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
  58% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
  66% {
    -webkit-transform: translateX(-66.66%);
            transform: translateX(-66.66%);
  }
  92% {
    -webkit-transform: translateX(-66.66%);
            transform: translateX(-66.66%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slider {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  25% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  33% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
  58% {
    -webkit-transform: translateX(-33.3%);
            transform: translateX(-33.3%);
  }
  66% {
    -webkit-transform: translateX(-66.66%);
            transform: translateX(-66.66%);
  }
  92% {
    -webkit-transform: translateX(-66.66%);
            transform: translateX(-66.66%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

html body header .slider .slider-wrap :nth-child(1) {
  background: url("../img/fv-bgi_01@2x.jpg") no-repeat;
}

html body header .slider .slider-wrap :nth-child(2) {
  background: url("../img/fv-bgi_02@2x.jpg") no-repeat;
}

html body header .slider .slider-wrap :nth-child(3) {
  background: url("../img/fv-bgi_03@2x.jpg") no-repeat;
}

html body header .slider .slider-wrap .flex-item {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50%;
}

html body header .mess {
  position: absolute;
  top: 54%;
  left: 8%;
  color: #ffffff;
  letter-spacing: 0.05em;
}

html body header .mess h1 {
  font-size: 7.0rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

html body header .mess h2 {
  font-size: 4.0rem;
  text-indent: 1.0em;
}

html body header .mess h2 br {
  display: none;
}

html body .main .left {
  margin: 0 auto 0 15%;
}

html body .main .right {
  margin: 0 15% 0 auto;
  text-align: right;
  color: #fff;
}

html body .main .gray {
  color: #f5f5f5;
  font-size: 9.0rem;
  margin-top: 70px;
}

html body .main .gray2 {
  color: #696969;
  font-size: 9.0rem;
  margin-top: 70px;
}

html body .main .button {
  background: #F7D43F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 235px;
  height: 60px;
  border-radius: 50px;
  font-size: 1.6rem;
  margin: 80px auto 0 auto;
}

html body .main .item {
  padding: 100px 0 70px 0;
}

html body .main h3 {
  font-size: 6rem;
}

html body .main h3:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 2px;
  width: 200px;
  margin-left: 32px;
  background: #000;
}

html body .main h3.white:after {
  background: #fff;
}

html body .main .concept .will {
  font-size: 3.0rem;
  line-height: 1.5em;
  text-align: center;
  margin-top: 70px;
}

html body .main .concept .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 60px auto 0 auto;
}

html body .main .concept .flex p {
  font-size: 1.6rem;
  margin-right: 120px;
}

html body .main .works {
  background: url("../img/works-bgi@2x.jpg") no-repeat;
  background-size: cover;
}

html body .main .works .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

html body .main .works .flex :nth-child(1) {
  margin-left: 0;
}

html body .main .works .flex div {
  width: 320px;
  background: #fff;
  margin-left: 20px;
}

html body .main .works .flex div img {
  width: 100%;
}

html body .main .works .flex p {
  padding: 25px 20px;
  font-size: 1.6rem;
}

html body .main .service .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

html body .main .service .flex div {
  width: 33.3%;
  position: relative;
}

html body .main .service .flex div :hover {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body .main .service .flex div img {
  width: 100%;
}

html body .main .service .flex div p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: #ffffff;
  font-size: 4.0rem;
  margin: 0;
}

html body .main .contact {
  background: url("../img/contact-bgi@2x.jpg") no-repeat;
  background-size: cover;
}

html body .main .contact p {
  text-align: center;
  font-size: 1.6rem;
  color: #ffffff;
  margin-top: 80px;
}

html body .main .contact .button {
  margin-top: 40px;
}

html body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  font-size: 1.4rem;
}

@media (max-width: 784px) {
  html body header .top .title {
    margin: 30px 0 0 5%;
  }
  html body header .top nav {
    opacity: 0;
    display: none;
    height: 100vh;
    width: 100%;
    margin: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  html body header .top nav.open {
    display: block;
    position: fixed;
    top: 0;
    z-index: 500;
    opacity: 1;
    background-color: #282F35;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  html body header .top nav ul {
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
  }
  html body header .top nav ul li {
    font-size: 2.0rem;
    margin-bottom: 30px;
    margin-left: 0;
    display: block;
  }
  html body header .top #humberger {
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 30px;
    right: 5%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  html body header .top #humberger :nth-child(1) {
    top: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  html body header .top #humberger :nth-child(2) {
    top: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  html body header .top #humberger :nth-child(3) {
    top: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  html body header .top #humberger.open {
    z-index: 1000;
  }
  html body header .top #humberger.open :nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  html body header .top #humberger.open :nth-child(2) {
    top: 10px;
    display: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  html body header .top #humberger.open :nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  html body header .top #humberger span {
    display: inline-block;
    width: 30px;
    height: 3px;
    position: absolute;
    background: #fff;
  }
  html body header .top .slider .slider-wrap :nth-child(3) {
    background: url("../img/fv-bgi_03@2x.jpg") no-repeat;
    background-position: 50%;
  }
  html body header .mess {
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  html body header .mess h1 {
    font-size: 4.0rem;
    text-align: center;
  }
  html body header .mess h2 {
    font-size: 3.0rem;
    text-align: center;
  }
  html body header .mess h2 br {
    display: block;
  }
  html body .main .item {
    padding-bottom: 40px;
  }
  html body .main .item h3 {
    font-size: 3.0rem;
  }
  html body .main .item h3:after {
    width: 25%;
  }
  html body .main .item .left {
    margin-left: 4%;
  }
  html body .main .item .right {
    margin-right: 4%;
  }
  html body .main .item .gray {
    margin: 40px 4% 0 0;
    font-size: 4.0rem;
  }
  html body .main .item .gray2 {
    margin: 40px 0 0 4%;
    font-size: 4.0rem;
  }
  html body .main .concept .will {
    font-size: 2.0rem;
    width: 80%;
    margin: 50px auto 0 auto;
  }
  html body .main .concept .will br {
    display: none;
  }
  html body .main .concept .flex {
    margin: 0;
    padding: 0 4%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html body .main .concept .flex p {
    margin: 30px 0 0 0;
    line-height: 2;
  }
  html body .main .concept .flex div {
    margin-top: 60px;
  }
  html body .main .concept .flex div img {
    width: 100%;
  }
  html body .main .works .flex {
    margin-top: 40px;
    padding: 0 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .main .works .flex div {
    width: 100%;
    margin: 30px 0 0 0;
  }
  html body .main .service .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  html body .main .service .flex div {
    width: 100%;
    margin-top: 30px;
  }
  html body .main .service .flex div p {
    text-align: center;
    font-size: 2.0rem;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */